.find-container {
  display: block;
}

h3 {
  color: #093a79;
  border-bottom: 1px solid #9fc5e7;
  width: 55%;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  padding-bottom: 5px;
  padding-top: 5px;
}

.text-center {
  text-align: center;
  margin: 25px 0px;
}

.post-form {
  margin: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.post-form-container {
  position: relative;
  background-color: #f0f0f0;
  color: #093a79;
  border-radius: 10px;
  width: 80%;
  margin: 12px 5px;
  padding: 15px 55px;
}

.accordion-show {
  display: flex;
  align-items: center;
  justify-content: center;
}
